.swal2-container
  z-index: 6100 !important

.pre
  white-space: pre-wrap

.textUnderline-none
  text-decoration: none

.product-area
  height: 400px
  width: 100%
  // .swiper
  //   width: 100%
  // display: flex
  // margin: 0 80px
  // flex-direction: row
  // flex-wrap: nowrap
  // .q-card
  //   width: 150px
  @media (min-width: 576px)
    margin: 20px 0px



q-card
  margin: 0px

#product-img
  height: 300px
  width: 300px
